/* Default styles */
*::after,
*::before{
  margin: 0;
padding:0;
box-sizing: border-box;
}
body {
    /* height: 100%; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: left; */
    /* align-items: center; */
    /* padding-top: 70px; */
    /* text-align: center; */
    background: linear-gradient(120deg, #ad44a9, #24b117);
    color: #fff;
  }
  #Home{
    height: 100vh;
    padding-top: 10%;
  
  }
  #eduction {
    margin: 0%;
  }
  .btn-primary {
    border-radius: 60px;
    background-color: #24b117;
    border-color: #8e44ad;
  }
  
  a {
    color: white;
  }
  
  #header {
    margin-bottom: 30px;
  }
  
  a img {
    padding: 20px;
    height: 100px;
  }
  
  #but:hover {
    background-color: #8e44ad;
  }
  
  /* a:hover {
    color: #24b117;
    font-size: xx-large;
  } */
  
 
  
  .welcome-section h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
  
  #navbut {
    background-color: black;
    /* Adjust margin or positioning as necessary */
  }
  
  
  #About p {
    font-size: medium;
    text-align: left;
    color: #000000;
  }
  
 /* .navbar {
    position: fixed;
    top: 0%;
    width: 10%;
    z-index: 100;
  } */
  
  #image {
    position: fixed;
    right: 30px;
  }
  
  table {
    border: 1px solid #000;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #000;
    padding: 8px;
  }

  /* Media Queries */
  /* For example, adjusting styles for smaller screens */
  @media only screen and (max-width: 768px) {
    /* body {
      padding-top: 50px;
    } */
  
    /* #nav.navbar {
      width: 20%;
    } */
  
    #image {
      right: 10px;
    }
  }
  
  /* For larger screens */
  @media only screen and (min-width: 1200px) {
    /* body {
      padding-top: 100px;
    } */
  
    /* #nav.navbar {
      width: 5%;
    } */
  }/*
  #Calla{
    width: 10%;
    height: 10%;
margin-top: 10%;
  }
  #carousel{
    height: 10%;
    width: 10%;
  }*/
  .aboutMe{
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 8px black;
    padding:20px;
    /* width: 60vw; */
  

   }
   #About{
    justify-content: center;
    align-items: center;
    width: 60vw;
    color:#000000;
   }
   #Project{
    justify-content: center;
    align-items: center;
    width: 60vw
   }


  /* img[id='tash-img']{
    margin-left: auto;
    margin-right: auto;
  } */
  .row{
    text-align: center;
  }
  /* .row{
    margin-left: auto;
    margin-right: auto;
   
  } */

  #Testimonial img, #data, #caela{
    padding: 1px;
    width: 40%;
    height: 60%;
  }
  .card{
    width: 20rem;
  }
  #count{
    width: 10rem;
 }

